<div class="container titulo">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title">About us</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>  
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <img src="<%= image_path("GameslavesLogo.png") %>" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>We are a group of four Costa Rican computer engineers trying to make the best game development company of Costa Rica or maybe the world?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>We have a diverse group composed of a 3D artist and modeller, a 2D artist and designer, a writer and designer and a level designers and web developers.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>Our team has what it needs to make indie games and we hope to develop a lot of them.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>Currently we are developing an anime platformer, but we are planning to explore all type of genres and game types in the future. Stay alert!</p>
    </div>
  </div>
</div>