<section id="intro">
    <ul id="slippry-slider">
      <li>
        <a href="#slide1"><img src="<%= image_path('slide/1') %>" ></a>
      </li>
      <li>
        <a href="#slide2"><img src="<%= image_path('slide/2') %>" ></a>
      </li>
      <li>
        <a href="#slide3"><img src="<%= image_path('slide/3') %>" ></a>
      </li>
    </ul>
</section>