<div class="container wow fadeInUp titulo">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title"><%= @game[:name] %></h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <h2><%= @game[:description] %></h2>
    </div>
  </div>
</div>
<!-- carrusel -->
<div class="container">
  <div class="row wow fadeInLeft">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Information</h3>
      <br>
      <p><%= @game[:information] %></p>
    </div>
  </div>
  <div class="row wow fadeInRight">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Requirements</h3>
      <br>
      <p><%= @game[:requirements] %></p>
      <hr>
    </div>
  </div>
</div>