// Place all the styles related to the MainController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  margin-bottom: 30px;
}

button, #contacto .form input[type="submit"] {
  background: #2dc997;
  border: 0;
  color: #fff;
  transition: 0.4s;
}

button:hover, #contacto .form input[type="submit"] {
  background: #51d8ad;
}

#contacto .form input[type="submit"] {
  padding: 10px 24px;
  margin-bottom: 40px;
}

button {
  padding: 10px 0px;
  margin-bottom: 10px;
}

button a {
  color: #fff;
  padding: 12px 24px;
}