// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#nueva-imagen .form input, #nueva-imagen .form textarea, #editar-imagen .form input, #editar-imagen .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#nueva-imagen .form input[type="submit"], #editar-imagen .form input[type="submit"] {
  background: #2dc997;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  margin-bottom: 40px;
}

button a:hover, #nueva-imagen .form input[type="submit"]:hover, #editar-imagen .form input[type="submit"]:hover {
  background: #51d8ad;
  color: #fff;
}

#nueva-imagen .form input[type="checkbox"] {
  margin-top: 10px;
}

.paginacion {
  display: inline-block;
  text-align: center;
}

.paginacion .active .page-link {
  background-color: #2dc997;
  border-color: #2dc997;
  transition: 0.4s;
}

.paginacion .page-link {
  color: #2dc997;
  transition: 0.4s;
}

.paginacion .active .page-link:hover {
  background: #51d8ad;
  border-color: #51d8ad;
  color: #fff;
}

.paginacion .page-link:hover {
  background: #2dc997;
  border-color: #2dc997;
  color: #fff;
}

div.paginacion {
  margin-bottom: 30px;
}